body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
.title {
    font-size: 2em;
    color: #333;
}
section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h4 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    color: #007BFF;
}
ul {
    padding-left: 20px;
}
.imagen {
    text-align: center; /* Centra el contenido dentro del div */
}
.imagen img, .explicacion-codigo img {
    display: inline-block; /* Cambiado a inline-block para centrar */
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}
button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}